When comparing two instances of `EmailAddress`, the domain should be treated case-insensitively

From [RFC 5321, section 2.4](https://www.rfc-editor.org/rfc/rfc5321.txt):
> The local-part of a mailbox MUST BE treated as case sensitive. Therefore, SMTP implementations MUST take care to preserve the case of mailbox local-parts. In particular, for some hosts, the user "smith" is different from the user "Smith". However, exploiting the case sensitivity of mailbox local-parts impedes interoperability and is discouraged. Mailbox domains follow normal DNS rules and are hence not case sensitive.


Should be fixed in b3e5205b4efdc83832f230d8eb6894fd00a9ec32 which will be released as 0.2.4

Should be fixed in b3e5205 which will be released as 0.2.4

this may be closed ;)

Thanks!